// Variables

$light-grey: #ccc;
$dark-grey: #222;

$text-color: $dark-grey;

$pink: #F6979A; 
$blue: #29A3D3; 
$white: #fff;
$beige: #D1D3C1;
$dark-beige: #B6B7AC;

@import url(https://fonts.googleapis.com/css?family=Muli:400,300);
$muli: 'Muli', sans-serif;
$helvetica: Helvetica, Arial, sans-serif; 